# Exploring the Vatanen dataset
In this notebook we load the relevant files from the Vatanen (2016) study. The study tracks the gut microbiomes of 117 children sampled over the first three years of life.

In [1]:
import pandas as pd

## Abundance data
The CSV file "abundance.csv" contains microbial abundance data obtained via 16s amplicon sequencing for each sample-ID.

In [2]:
abundances = pd.read_csv("abundance.csv")

Let's see how the data is formatted

In [3]:
abundances.head()

,Unnamed: 0,GCAAGCGTTATCCGGAATTATTGGGCGTAAAGGGCTCGTAGGCGGTTCGTCGCGTCCGGTGTGAAAGTCCATCGCTTAACGGTGGATCCGCGCCGGGTACGGGCGGGCTTGAGTGCGGTAGGGGAGACTGGAATTCCCGGTGTAACGGTGGAATGTGTAGATATCGGGAAGAACACCAATGGCGAAGGCAGGTCTCTGGGCCGTTACTGACGCTGAGGAGCGAAAGCGTGGGG,CCGAGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGATGGATGTTTAAGTCAGTTGTGAAAGTTTGCGGCTCAACCGTAAAATTGCAGTTGATACTGGATATCTTGAGTGCAGTTGAGGCAGGCGGAATTCGTGGTGTAGCGGTGAAATGCTTAGATATCACGAAGAACTCCGATTGCGAAGGCAGCCTGCTAAGCTGCAACTGACATTGAGGCTCGAAAGTGTGGGT,GCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCACGCAGGCGGTTTGTTAAGTCAGATGTGAAATCCCCGGGCTCAACCTGGGAACTGCATCTGATACTGGCAAGCTTGAGTCTCGTAGAGGGGGGTAGAATTCCAGGTGTAGCGGTGAAATGCGTAGAGATCTGGAGGAATACCGGTGGCGAAGGCGGCCCCCTGGACGAAGACTGACGCTCAGGTGCGAAAGCGTGGGG,ACAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGCAGGCGGGAGAACAAGTTGGAAGTGAAATCCATGGGCTCAACCCATGAACTGCTTTCAAAACTGTTTTTCTTGAGTAGTGCAGAGGTAGGCGGAATTCCCGGTGTAGCGGTGGAATGCGTAGATATCGGGAGGAACACCAGTGGCGAAGGCGGCCTACTGGGCACCAACTGACGCTGAGGCTCGAAAGTGTGGGT,CCGAGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGTGGACTGGTAAGTCAGTTGTGAAAGTTTGCGGCTCAACCGTAAAATTGCAGTTGATACTGTCAGTCTTGAGTACAGTAGAGGTGGGCGGAATTCGTGGTGTAGCGGTGAAATGCTTAGATATCACGAAGAACTCCGATTGCGAAGGCAGCTCACTGGACTGCAACTGACACTGATGCTCGAAAGTGTGGGT,CCGAGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGATGGATGTTTAAGTCAGTTGTGAAAGTTTGCGGCTCAACCGTAAAATTGCAGTTGATACTGGATGTCTTGAGTGCAGTTGAGGCAGGCGGAATTCGTGGTGTAGCGGTGAAATGCTTAGATATCACGAAGAACTCCGATTGCGAAGGCAGCCTGCTAAGCTGCAACTGACATTGAGGCTCGAAAGTGTGGGT,ACAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGCAGGCGGGAAGACAAGTTGGAAGTGAAATCTATGGGCTCAACCCATAAACTGCTTTCAAAACTGTTTTTCTTGAGTAGTGCAGAGGTAGGCGGAATTCCCGGTGTAGCGGTGGAATGCGTAGATATCGGGAGGAACACCAGTGGCGAAGGCGGCCTACTGGGCACCAACTGACGCTGAGGCTCGAAAGTGTGGGT,GCAAGCGTTATCCGGAATTATTGGGCGTAAAGGGCTCGTAGGCGGTTCGTCGCGTCCGGTGTGAAAGTCCATCGCTTAACGGTGGATCTGCGCCGGGTACGGGCGGGCTGGAGTGCGGTAGGGGAGACTGGAATTCCCGGTGTAACGGTGGAATGTGTAGATATCGGGAAGAACACCAATGGCGAAGGCAGGTCTCTGGGCCGTTACTGACGCTGAGGAGCGAAAGCGTGGGG,GCAAGCGTTATCCGGATTTATTGGGCGTAAAGGGCTCGTAGGCGGCTCGTCGCGTCCGGTGTGAAAGTCCATCGCTTAACGGTGGATCTGCGCCGGGTACGGGCGGGCTGGAGTGCGGTAGGGGAGACTGGAATTCCCGGTGTAACGGTGGAATGTGTAGATATCGGGAAGAACACCGATGGCGAAGGCAGGTCTCTGGGCCGTCACTGACGCTGAGGAGCGAAAGCGTGGGG,...,GCAAGCGTTATCCGGAATTACTGGGTGTAAAGGGTGCGTAGGTGGCATGGCAAGTCTGATGTGAAACCCCCGGGCTCAACCTGGGGCATGCATTGGAAACTGTCAAGCTAGAGTGCAGGAGAGGTAAGCGGAATTCCTAGTGTAGCGGTGAAATGCGTAGATATTAGGAGGAACACCAGTGGCGAAGGCGGCTTACTGGACGGTAACTGACGTTGAGGCTCGAAAGCGTGGGG,CCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGACGGGTCGTTAAGTCAGCTGTGAAAGTTTGAGGCTCAACCTTAAAATTGCAGTTGATACTGGCGTCCTTGAGTACGGTTGAGGCAGGCGGAATTCGTGGTGTAGCGGTGAAATGCATAGATATCACGAAGAACCCCGATTGCGAAGGCAGCCTGCTAAGCTGTAACTGACGTTGAGGCTCGAAAGTGTGGGT,CCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGACGGGTCGTTAAGTCAGCTGTGAAAGTTTGAGGCTCAACCTTAAAATTGCAGTTGATACTGGCGTCCTTGAGTACGGTTGAGGCAGGCGGAATTCGTGGTGTAGCGGTGAAATGCTTAGATATCACTCAGAACACCGATTGCGAAGGCATCTGGCGAATCCGTAACTGACGCTGAGGCACGAAAGCGTGGGG,GCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGTTTTGCAAGTCTGATGTGAAAACCCGGGGCTCAACCCCGTGACTGCATTGGAAACTGTTTAGCTGGAGTGCCGGAGAGGTAAGCGGAATTCCTAGTGTAGCGGTGAAATGCGTAGATATTAGGAGGAACACCAGTGGCGAAGGCGGCTTACTGGACGGCAACTGACGTTGAGGCTCGAAAGCGTGGGG,GCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGTTTTGCAAGTCTGATGTGAAAACCCGGGGCTCAACCCCGTGACTGCATTGGAAACTGTTTAGCTGGAGTGCCGGAGAGGTAAGCGGAATTCCTAGTGTAGCGGTGAAATGCGTAGATATTAGGAAGAACACCAGTGGCGAAGGCGGCTTACTGGACAGTAACTGACGTTCAGGCTCGAAAGCGTGGGG,GCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGATGGGCAAGTCTGAAGTGAAAGCCCGGGGCTCAACCCCGGGACTGCTTTGGAAACTGTTCATCTGGAGTGCTGGAGAGGTAAGTGGAATTCCTAGTGTAGCGGTGAAATGCGTAGATATTAGGAGGAACACCAGTGGCGAAGGCGGCTTACTGGACTGTAACTGACGTTGAGGCTCGAAAGCGTGGGG,GCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGTGCGTAGGTGGTATGGTAAGTCAGAAGTGAAAACCCGGGGCTCAACTCCGCGGATTGCTTTTGAAACTATCAGACTGGAGTACCGGAGAGGTAAGCGGAATTCCTAGTGTAGCGGTGAAATGCGTAGATATTAGGAGGAACATCAGTGGCGAAGGCGGCTTACTGGACTGAAACTGACACTGAGGCACGAAAGCGTGGGG,GCGAGCGTTATCCGGAATTACTGGGTGTAAAGGGTGCGTAGGCGGTACGGCAAGTTTGATGTGAAACCCGCGGGCTTAACCCGAGGCATGCATCGAAAACTACTGAACTAGAGTGCAGGAGAGGAAAGCGGAATTCCTAGTGTAGCGGTGAAATGCGTAGATATTAGGAAGAACACCAGTGGCGAAGGCGGCTTTCTGGACTGAAACTGACGCTGAGGCTCGAAAGCGTGGGG,GCAAGCGTTAATCGGAATCACTGGGCGTAAAGGGTTCGCAGGCGGAATCACAAGTCAGATGTGAAAGGCATGGGCTCAACCCATGTAAGCATTTGAAACTGTAATTCTTGAGAAGTGGAGAGGTAAGTGGAATTCCTAGTGTAGCGGTGAAATGCGTAGATATTAGGAGGAACACCAATGGCGAAGGCAGGTCTCTGGGCCGTTACTGACGCTGAGGAGCGAAAGCGTGGGG,ACAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGCAGGCGGGCGATCAAGTTGGAAGTGAAATCCATGGGCTCAACTGAGGAACTGCAACTAAAACTGTACTTCTTGAGTGCAGGAGAGGTAAGTGGAATTCCTAGTGTAGCGGTGAAATGCGTAGATATTAGGAGGAACACCAGTGGCGAAGGCGGCTTACTGGACTGTAACTGACACTGAGGCACGAAAGCGTGGGG
0,G63225,410,0,146,285,0,25848,841,0,0,...,0,0,0,0,0,0,0,0,0,0
1,G63227,189,0,14,273,20,3732,269,186,0,...,0,0,0,0,0,0,0,0,0,0
2,G63228,172,486,0,807,872,0,10461,400,134,...,0,0,0,0,0,0,0,0,0,0
3,G63229,23,918,2738,2492,0,0,220,0,0,...,0,0,0,0,0,0,0,0,0,0
4,G63230,149,8459,22,5790,48,0,6242,0,0,...,0,0,0,0,0,0,0,0,0,0

The sequence labels are given as columns, to make this easier to read, we do some reformatting. We set the sequences as rows and take the sampleIDs as column labels.

In [4]:
abundances2 = abundances.transpose().rename(columns=abundances.transpose().iloc[0]).iloc[1:]

In [5]:
abundances2.head()

,G63225,G63227,G63228,G63229,G63230,G63231,G63232,G63234,G63236,G63237,...,G76485,G76486,G76487,G76488,G76489,G76490,G76491,G76492,G76493,G76494
GCAAGCGTTATCCGGAATTATTGGGCGTAAAGGGCTCGTAGGCGGTTCGTCGCGTCCGGTGTGAAAGTCCATCGCTTAACGGTGGATCCGCGCCGGGTACGGGCGGGCTTGAGTGCGGTAGGGGAGACTGGAATTCCCGGTGTAACGGTGGAATGTGTAGATATCGGGAAGAACACCAATGGCGAAGGCAGGTCTCTGGGCCGTTACTGACGCTGAGGAGCGAAAGCGTGGGG,410,189,172,23,149,145,4990,570,1124,314,...,1582,292,2733,0,1462,1718,0,3566,3836,0
CCGAGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGATGGATGTTTAAGTCAGTTGTGAAAGTTTGCGGCTCAACCGTAAAATTGCAGTTGATACTGGATATCTTGAGTGCAGTTGAGGCAGGCGGAATTCGTGGTGTAGCGGTGAAATGCTTAGATATCACGAAGAACTCCGATTGCGAAGGCAGCCTGCTAAGCTGCAACTGACATTGAGGCTCGAAAGTGTGGGT,0,0,486,918,8459,983,0,0,870,0,...,0,0,15,0,2831,707,0,0,0,0
GCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCACGCAGGCGGTTTGTTAAGTCAGATGTGAAATCCCCGGGCTCAACCTGGGAACTGCATCTGATACTGGCAAGCTTGAGTCTCGTAGAGGGGGGTAGAATTCCAGGTGTAGCGGTGAAATGCGTAGAGATCTGGAGGAATACCGGTGGCGAAGGCGGCCCCCTGGACGAAGACTGACGCTCAGGTGCGAAAGCGTGGGG,146,14,0,2738,22,1749,45,0,0,671,...,2605,5609,826,4383,0,1636,0,272,210,131
ACAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGCAGGCGGGAGAACAAGTTGGAAGTGAAATCCATGGGCTCAACCCATGAACTGCTTTCAAAACTGTTTTTCTTGAGTAGTGCAGAGGTAGGCGGAATTCCCGGTGTAGCGGTGGAATGCGTAGATATCGGGAGGAACACCAGTGGCGAAGGCGGCCTACTGGGCACCAACTGACGCTGAGGCTCGAAAGTGTGGGT,285,273,807,2492,5790,1002,0,448,0,2946,...,0,0,0,0,0,0,0,0,0,0
CCGAGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGTGGACTGGTAAGTCAGTTGTGAAAGTTTGCGGCTCAACCGTAAAATTGCAGTTGATACTGTCAGTCTTGAGTACAGTAGAGGTGGGCGGAATTCGTGGTGTAGCGGTGAAATGCTTAGATATCACGAAGAACTCCGATTGCGAAGGCAGCTCACTGGACTGCAACTGACACTGATGCTCGAAAGTGTGGGT,0,20,872,0,48,2795,0,364,1107,0,...,3102,1048,2177,122,0,0,0,0,0,0

This dataframe now has OTUs (represented by their sequences) as rows and samples as columns.

## Taxonomy
To see how the sequences map to taxonomy, we open the "dada2_placements.csv" file.

In [6]:
dadaplace = pd.read_csv("dada2_placements.csv")

In [7]:
dadaplace

,Unnamed: 0,Kingdom,Phylum,Class,Order,Family,Genus,Species
0,GCAAGCGTTATCCGGAATTATTGGGCGTAAAGGGCTCGTAGGCGGT...,Bacteria,Actinobacteria,Actinobacteria,Bifidobacteriales,Bifidobacteriaceae,Bifidobacterium,breve/kashiwanohense/longum
1,CCGAGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGATGGA...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,dorei/vulgatus
2,GCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCACGCAGGCGGT...,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Escherichia/Shigella,NaN
3,ACAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGCAGGCGGG...,Bacteria,Firmicutes,Clostridia,Clostridiales,Ruminococcaceae,Faecalibacterium,NaN
4,CCGAGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGTGGA...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,dorei/fragilis
...,...,...,...,...,...,...,...,...
4439,GCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGA...,Bacteria,Firmicutes,Clostridia,Clostridiales,Lachnospiraceae,Clostridium_XlVa,NaN
4440,GCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGTGCGTAGGTGGT...,Bacteria,Firmicutes,Clostridia,Clostridiales,Lachnospiraceae,Anaerostipes,NaN
4441,GCGAGCGTTATCCGGAATTACTGGGTGTAAAGGGTGCGTAGGCGGT...,Bacteria,Firmicutes,Clostridia,Clostridiales,NaN,NaN,NaN
4442,GCAAGCGTTAATCGGAATCACTGGGCGTAAAGGGTTCGCAGGCGGA...,Bacteria,Firmicutes,Clostridia,Clostridiales,Clostridiales_Incertae_Sedis_XI,Peptoniphilus,NaN
4443,ACAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGCAGGCGGG...,Bacteria,Firmicutes,Clostridia,Clostridiales,NaN,NaN,NaN

This dataframe gives us the taxonomy for each sequence in the abundance dataframe.

## sample metadata
We next see how each sample maps to a subject and time point. The CSV file "sample_metadata.csv" specifies an associated subject ID and timepoint for each sample ID.

In [8]:
samplemeta = pd.read_csv("sample_metadata.csv", header=None)

In [11]:
samplemeta.columns = ["sample_ID", "subjectID", "time"]

In [12]:
samplemeta.head()

  sample_ID subjectID  time
0    G75694   E002338   304
1    G75855   E002338   493
2    G73882   E002338   852
3    G75849   E002338   399
4    G75788   E002338   212

## subject metadata
The file "subject_data.csv" gives us a table showing how each host_subject_id maps to a label.

In [24]:
subjdata = pd.read_csv("subject_data_augmented.csv")

In [25]:
subjdata

,subjectID,delivery,gender,country,abx_first_year,totalige_high,hla_risk_class,seroconverted,allergy_milk,allergy_egg,allergy_peanut,allergy_cat,allergy_dog,allergy_dustmite,allergy_birch,allergy_timothy,dietary_allergy,any_allergy
0,E002338,vaginal,Female,FIN,False,False,2,False,True,False,False,False,False,False,False,False,True,True
1,E002410,vaginal,Male,FIN,False,False,2,False,True,True,False,False,False,False,False,False,True,True
2,E002473,vaginal,Female,FIN,False,False,2,False,False,False,False,False,False,False,False,False,False,False
3,E002681,vaginal,Female,FIN,True,False,3,True,False,False,False,False,False,False,False,False,False,False
4,E002825,vaginal,Male,FIN,True,False,4,False,True,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,T026211,vaginal,Male,EST,False,False,2,False,False,True,False,False,False,False,False,False,True,True
218,T028029,vaginal,Female,EST,False,True,3,False,False,False,True,False,False,False,False,True,True,True
219,T028183,caesarean,Female,EST,True,True,2,False,False,False,False,False,False,False,False,False,False,False
220,T029687,caesarean,Male,EST,False,False,4,False,False,False,False,False,False,False,False,False,False,False
221,T029922,caesarean,Male,EST,True,False,3,False,False,False,False,False,False,False,False,False,False,False

The first column gives the host 'subjectID', same as that in the sample metadata file. The 'delivery' column gives the label for whether the delivery mode was vaginal or caesarean. The 'country' column gives the nationality (FIN=Finnish, RUS=Russian, EST=Estonian). Additional information is also given for infant gender, whether antibiotics were given in the first year (abx_first_year), and if they had various allergies. (See 'Vatanen_2016.pdf' in the references folder for more details).