<a href="https://colab.research.google.com/github/gerberlab/cs109b-microbiome/blob/main/2022/datasets/brooks/brooks_extract_from_pickle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
!git clone https://github.com/gerberlab/mditre.git 
!pip install mditre/.

fatal: destination path 'mditre' already exists and is not an empty directory.
Processing ./mditre
  DEPRECATION: A future pip version will change local packages to be built in-place without first copying to a temporary directory. We recommend you use --use-feature=in-tree-build to test your packages with this new behavior before it becomes the default.
   pip 21.3 will remove support for this functionality. You can find discussion regarding this at https://github.com/pypa/pip/issues/7555.
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (1.21.6)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (1.0.2)
Requirement already satisfied: PyQt5==5.11.3 in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (5.11.3)
Requirement already satisfied: ete3 in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (3.1.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (3.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (0.11.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (1.4.1)
Requirement already satisfied: dendropy in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (4.5.2)
Requirement already satisfied: jupyterlab in /usr/local/lib/python3.7/dist-packages (from mditre==0.1.6) (3.3.4)
Requirement already satisfied: PyQt5_sip<4.20,>=4.19.11 in /usr/local/lib/python3.7/dist-packages (from PyQt5==5.11.3->mditre==0.1.6) (4.19.19)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from dendropy->mditre==0.1.6) (57.4.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from jupyterlab->mditre==0.1.6) (5.5.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from jupyterlab->mditre==0.1.6) (4.10.0)
Requirement already satisfied: nbclassic~=0.2 in /usr/local/lib/python3.7/dist-packages (from jupyterlab->mditre==0.1.6) (0.3.7)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from jupyterlab->mditre==0.1.6) (21.3)
Requirement already satisfied: jupyterlab-server~=2.10 in /usr/local/lib/python3.7/dist-packages (from jupyterlab->mditre==0.1.6) (2.13.0)
Requirement already satisfied: jinja2>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyterlab->mditre==0.1.6) (3.1.1)
Requirement already satisfied: tornado>=6.1.0 in /usr/local/lib/python3.7/dist-packages (from jupyterlab->mditre==0.1.6) (6.1)
Requirement already satisfied: jupyter-server~=1.4 in /usr/local/lib/python3.7/dist-packages (from jupyterlab->mditre==0.1.6) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.1->jupyterlab->mditre==0.1.6) (2.0.1)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (7.3.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (0.14.1)
Requirement already satisfied: anyio>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (3.5.0)
Requirement already satisfied: nbformat>=5.2.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (5.3.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (22.3.0)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (1.3.2)
Requirement already satisfied: traitlets>=5.1.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (5.1.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (21.3.0)
Requirement already satisfied: nbconvert>=6.4.4 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (6.5.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (0.13.3)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (1.8.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.7/dist-packages (from anyio>=3.1.0->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (1.2.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from anyio>=3.1.0->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (4.2.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio>=3.1.0->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (2.10)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (2.8.2)
Requirement already satisfied: nest-asyncio>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (1.5.5)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (0.4)
Requirement already satisfied: jsonschema>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (4.3.3)
Requirement already satisfied: json5 in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (0.9.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (2.23.0)
Requirement already satisfied: babel in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (2.9.1)
Requirement already satisfied: importlib-metadata>=3.6 in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6->jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (3.8.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (5.7.1)
Requirement already satisfied: notebook-shim>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from nbclassic~=0.2->jupyterlab->mditre==0.1.6) (0.1.0)
Requirement already satisfied: notebook<7 in /usr/local/lib/python3.7/dist-packages (from nbclassic~=0.2->jupyterlab->mditre==0.1.6) (5.3.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (0.2.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (0.8.4)
Requirement already satisfied: pygments>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (2.6.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (1.5.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (1.1.1)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (0.6.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (0.7.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (5.0.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (4.6.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=5.2.0->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (2.15.3)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from notebook<7->nbclassic~=0.2->jupyterlab->mditre==0.1.6) (4.10.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from notebook<7->nbclassic~=0.2->jupyterlab->mditre==0.1.6) (0.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (1.15.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.3->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (0.7.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.7/dist-packages (from argon2-cffi->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (2.21)
Requirement already satisfied: pytz>=2015.7 in /usr/local/lib/python3.7/dist-packages (from babel->jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (2022.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab->mditre==0.1.6) (0.5.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab->mditre==0.1.6) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab->mditre==0.1.6) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab->mditre==0.1.6) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab->mditre==0.1.6) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab->mditre==0.1.6) (0.8.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->jupyterlab->mditre==0.1.6) (0.2.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mditre==0.1.6) (1.4.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mditre==0.1.6) (3.0.8)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mditre==0.1.6) (0.11.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.10->jupyterlab->mditre==0.1.6) (2021.10.8)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->mditre==0.1.6) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->mditre==0.1.6) (1.1.0)
Building wheels for collected packages: mditre
  Building wheel for mditre (setup.py) ... done
  Created wheel for mditre: filename=mditre-0.1.6-py3-none-any.whl size=114839 sha256=77214c951104431f4f2f02665c0f4a48443c2e669c25823c138e964d6aa6e718
  Stored in directory: /tmp/pip-ephem-wheel-cache-zkat03xd/wheels/2b/9a/9d/21f4dfd1ed913b202f1a6f3a731d3c567aa7cec80eca02f52b
Successfully built mditre
Installing collected packages: mditre
  Attempting uninstall: mditre
    Found existing installation: mditre 0.1.6
    Uninstalling mditre-0.1.6:
      Successfully uninstalled mditre-0.1.6
Successfully installed mditre-0.1.6

In [22]:
!ls mditre/mditre/tutorials/datasets/processed/brooks

Brooks_dataset_phylo_new.pickle

## Unpickle the processed file

In [23]:
import pickle

In [24]:
!ls mditre/mditre/tutorials/datasets/processed/brooks/

Brooks_dataset_phylo_new.pickle

In [25]:
brooks_file = "./mditre/mditre/tutorials/datasets/processed/brooks/Brooks_dataset_phylo_new.pickle"

In [26]:
brooks = open(brooks_file, 'rb')

In [27]:
brooks_data = pickle.load(brooks)

In [28]:
type(brooks_data)

dict

### Let's see what data structures the file contains

In [29]:
for key in brooks_data:
  print(key)
  print(type(brooks_data[key]))
  print("")

n_variables
<class 'int'>

experiment_start
<class 'numpy.int64'>

experiment_end
<class 'numpy.int64'>

X
<class 'list'>

y
<class 'numpy.ndarray'>

T
<class 'list'>

variable_tree
<class 'ete3.coretype.tree.TreeNode'>

variable_names
<class 'list'>

variable_annotations
<class 'dict'>

tree_distance
<class 'numpy.ndarray'>

In [ ]:
brooks_data["n_variables"]

126

In [ ]:
brooks_data["experiment_start"]

0

In [ ]:
brooks_data["experiment_end"]

75

## The data structures are given as lists and np arrays. We reformat these into readable tables.

In [ ]:
xdat = brooks_data["X"]

In [30]:
taxa = brooks_data["variable_names"]

In [36]:
subj_times = brooks_data["T"]

## Create abundance table for samples

In [41]:
import numpy as np
import pandas as pd

In [61]:
abundances = dict()
abundances["Taxonomy"] = taxa

In [62]:
# subj_meta = dict()
samples = []
subjects = []
times = []

for i, subj_abun in enumerate(xdat):
  # subj_abun is a N-taxa by N-time matrix
  for t in range(subj_abun.shape[1]):
    sample = "S{}_T{}".format(i, t)
    samples.append(sample)
    subj = "S{}".format(i)
    subjects.append(subj)
    tm = subj_times[i][t]
    times.append(tm)

    abundances[sample] = np.squeeze(subj_abun[:,t])

### create abundance data table, sample metadata, and subject metadata tables for easier reading

In [63]:
abun = pd.DataFrame(abundances)

In [64]:
abun

,Taxonomy,S0_T0,S0_T1,S0_T2,S0_T3,S0_T4,S0_T5,S0_T6,S0_T7,S0_T8,...,S27_T8,S27_T9,S27_T10,S27_T11,S27_T12,S27_T13,S27_T14,S27_T15,S27_T16,S27_T17
0,k__Bacteria|p__Actinobacteria|c__Actinobacteri...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
1,k__Bacteria|p__Actinobacteria|c__Actinobacteri...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2,k__Bacteria|p__Actinobacteria|c__Actinobacteri...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
3,k__Bacteria|p__Actinobacteria|c__Actinobacteri...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
4,k__Bacteria|p__Actinobacteria|c__Actinobacteri...,0.000000,0.000000,0.000000,0.001063,0.001083,0.002021,0.002090,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,k__Bacteria|p__Proteobacteria|c__Gammaproteoba...,0.194332,0.185561,0.195945,0.157017,0.147991,0.156049,0.144259,0.164822,0.170829,...,0.000633,0.000489,0.0,0.002896,0.000484,0.0,0.0,0.000000,0.0,0.0
122,k__Bacteria|p__Proteobacteria|c__Gammaproteoba...,0.717414,0.716604,0.719074,0.660998,0.647380,0.650086,0.602931,0.662269,0.699817,...,0.003169,0.000904,0.0,0.011152,0.003008,0.0,0.0,0.000136,0.0,0.0
123,k__Bacteria|p__Proteobacteria|c__Gammaproteoba...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000316,0.000000,0.0,0.000079,0.000000,0.0,0.0,0.000000,0.0,0.0
124,k__Bacteria|p__Proteobacteria|c__Gammaproteoba...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
125,k__Bacteria|p__Proteobacteria|c__Gammaproteoba...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0

In [65]:
# export to file
abun.to_csv("abundances.csv")

### create sample metadata

In [53]:
sample_metadata = pd.DataFrame({"sampleID": samples, "subjectID": subjects, "time": times})

In [54]:
sample_metadata

    sampleID subjectID  time
0      S0_T0        S0     0
1      S0_T1        S0     2
2      S0_T2        S0     4
3      S0_T3        S0     6
4      S0_T4        S0     8
..       ...       ...   ...
397  S27_T13       S27    13
398  S27_T14       S27    14
399  S27_T15       S27    15
400  S27_T16       S27    16
401  S27_T17       S27    17

[402 rows x 3 columns]

In [55]:
# export to csv
sample_metadata.to_csv("sample_metadata.csv", index=False)

### create subject metadata

In [48]:
subjects = []
labels = []
for i, lab in enumerate(brooks_data["y"]):
  subjects.append("S{}".format(i))
  labels.append(lab)

In [49]:
subject_metadata = pd.DataFrame({"subjectID": subjects, "host_label": labels})

In [50]:
subject_metadata

   subjectID  host_label
0         S0         1.0
1         S1         0.0
2         S2         1.0
3         S3         1.0
4         S4         1.0
5         S5         0.0
6         S6         0.0
7         S7         0.0
8         S8         0.0
9         S9         1.0
10       S10         1.0
11       S11         1.0
12       S12         1.0
13       S13         1.0
14       S14         1.0
15       S15         1.0
16       S16         1.0
17       S17         1.0
18       S18         0.0
19       S19         0.0
20       S20         1.0
21       S21         0.0
22       S22         1.0
23       S23         1.0
24       S24         0.0
25       S25         1.0
26       S26         1.0
27       S27         1.0

In [51]:
# export to csv
subject_metadata.to_csv("subject_metadata.csv", index=False)

### We also have data structures for the phylogenetic tree and distances between taxa computed based on our tree

In [67]:
tree = brooks_data["variable_tree"]

In [70]:
tree.write(features=[], outfile="brooks_tree.newick")

In [ ]:
brooks_data["tree_distance"]

array([[0.     , 0.53647, 0.5212 , ..., 1.01079, 1.03093, 1.0226 ],
       [0.53647, 0.     , 0.11901, ..., 1.04336, 1.0635 , 1.05517],
       [0.5212 , 0.11901, 0.     , ..., 1.02809, 1.04823, 1.0399 ],
       ...,
       [1.01079, 1.04336, 1.02809, ..., 0.     , 0.19676, 0.18843],
       [1.03093, 1.0635 , 1.04823, ..., 0.19676, 0.     , 0.02895],
       [1.0226 , 1.05517, 1.0399 , ..., 0.18843, 0.02895, 0.     ]])